/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/* English Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mirza&display=swap');

/* Arabic Fonts */
@import url('https://fonts.googleapis.com/css2?family=Scheherazade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

/* Body and font styles */
body {
    background-color: #ffffff;
}

/* Navigation styles */
nav {
    background-color: #01012A;
    color: #E0E4F8;
}

nav a {
    color: #ca9aec;
}

nav a:hover {
    color: #8B5CF6;
}

nav .menu {
    font-family: 'Julius Sans One', sans-serif;
}

nav .flex-col h1 {
    font-family: 'Lobster', cursive;
    color: #ca9aec;
    margin-top: 2rem;
}

nav .flex-col p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 0.75rem;
}


.typing-animation {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #12024e;
    text-align: center;
}

/* Adjust the parent container to prevent wrapping */
.bg-gray-100 {
    flex-wrap: nowrap;
    overflow-x: auto; /* Adds horizontal scrolling if the content overflows */
}


/* Footer styles */
footer {
    background-color: #01012A; /* Dark purple footer background */
    color: #ca9aec;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.postImageContainer {
    width: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    justify-content: center;
}


.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

.flash-message {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #333;
}

.flash-message.success {
    background-color: green;
}

.flash-message.error {
    background-color: red;
}

.flash-message.info {
    background-color: blue;
}

.flash-message.danger {
    background-color: darkred;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: lightgray;
}


/* QuillJS custom fonts */
.ql-font-scheherazade {
    font-family: 'Scheherazade', serif; /* Arabic font for QuillJS */
}

.ql-font-tajawal {
    font-family: 'Tajawal', sans-serif; /* Arabic font for QuillJS */
}

.ql-font-noto-kufi-arabic {
    font-family: 'Noto Kufi Arabic', sans-serif; /* Arabic font for QuillJS */
}

/* English custom fonts for QuillJS */
.ql-font-roboto {
    font-family: 'Roboto', sans-serif; /* English font for QuillJS */
}

.ql-font-raleway {
    font-family: 'Raleway', sans-serif; /* English font for QuillJS */
}

.ql-font-mirza {
    font-family: 'Mirza', cursive; /* English font for QuillJS */
}

/* Left align */
.ql-align-left {
    text-align: left !important; /* Use !important to override Quill's default styles */
}

/* Center align */
.ql-align-center {
    text-align: center !important;
}

/* Right align */
.ql-align-right {
    text-align: right !important;
}

/* Justify align */
.ql-align-justify {
    text-align: justify !important;
}

.ql-size-small {
    font-size: 14px !important;
}

.ql-size-normal {
    font-size: 16px !important;
}

.ql-size-large {
    font-size: 20px !important;
}

.ql-size-huge {
    font-size: 28px !important;
}

