/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Julius+Sans+One&display=swap');

/* Body and font styles */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
}

/* Navigation styles */
nav {
    background-color: #01012A;
    color: #E0E4F8;
}

nav a {
    color: #ca9aec;
}

nav a:hover {
    color: #8B5CF6;
}

nav .menu {
    font-family: 'Julius Sans One', sans-serif;
}

nav .flex-col h1 {
    font-family: 'Lobster', cursive; /* Apply Lobster font */
    color: #ca9aec;
    margin-top: 2rem;
}

nav .flex-col p {
    font-family: 'Julius Sans One', sans-serif; /* Apply Julius Sans One font */
    font-size: 0.75rem;
}

/* Main section styles */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-size: 5rem;
    color: #4b0082;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

/* Adjust the parent container to prevent wrapping */
.bg-gray-100 {
    flex-wrap: nowrap;
    overflow-x: auto; /* Adds horizontal scrolling if the content overflows */
}

/* Adjust the image container width */
.mt-12 {
    width: 33.333%; /* Adjust based on the number of images */
    flex: 0 0 auto; /* Prevents the items from growing or shrinking */
}

/* Ensure images do not exceed their container's width */
.mt-12 img {
    max-width: 100%;
    height: auto; /* Maintains aspect ratio */
}

/* Button styles */
.start-writing-btn {
    background-color: #4b0082;
    color: #ffffff; /* White text color */
}

.start-writing-btn:hover {
    background-color: #A1AFF5;
}


.typing-animation {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #12024e;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #01012A; /* Dark purple footer background */
    color: #ca9aec;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.postImageContainer {
    width: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    justify-content: center;
}


.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
}

.flash-message {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: #333; /* Default background color */
}

.flash-message.success {
    background-color: green;
}

.flash-message.error {
    background-color: red;
}

.flash-message.info {
    background-color: blue;
}

.flash-message.danger {
    background-color: darkred;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: lightgray;
}
