<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post - YouCanWrite</title>
    {% extends "base.html" %}
    {% block title %}Post{% endblock %}
    {% block content %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>
<body class="bg-gray-100" style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="flex flex-col flex-grow">
        <nav class="shadow-lg py-1 px-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="{{ url_for('api.home') }}" class="text-2xl font-bold flex items-center">
                    <img src="{{ url_for('static', filename='images/LOGO.PNG') }}" alt="Logo" class="h-16 w-16">
                    <div class="flex flex-col">
                    <h1 class="text-2xl font-bold">YouCanWrite</h1>
                    <p class="text-sm">FROM SPARK TO MASTERPIECE</p>
                </div>
                </a>
                <div class="menu">
                    <a href="{{ url_for('api.home') }}" class="mx-2">Home</a>
                    <a href="{{ url_for('api.dashboard') }}" class="mx-2">WritingZone</a>
                    <a href="{{ url_for('api.profile') }}" class="mx-2">Profile</a>
                    <a href="{{ url_for('api.logout') }}" class="mx-2">Logout</a>
                </div>
            </div>
        </nav>
    <div class="container mx-auto mt-8 mb-4">
        <div class="p-4 bg-white rounded shadow">
            <h1 class="text-3xl font-bold mb-4" style="font-family: 'Raleway', sans-serif; font-weight: 300; line-height: 1.6; color: #000000;">Create New Post</h1>
            <div class="typing-animation"></div>
            <form action="{{ url_for('api.create_post') }}" method="POST">
                <div class="mb-4">
                    <label for="title" class="block text-gray-700" style="font-family: 'Raleway', sans-serif;">Title</label>
                    <input type="text" name="title" id="title" class="w-full px-4 py-2 border rounded">
                </div>
                <div class="mb-4" id="content"></div>
                <input type="text" name="content" hidden />
                <div class="mb-4">
                    <label for="image_url" class="block text-gray-700" style="font-family: 'Raleway', sans-serif;">Post Image URL</label>
                    <input type="text" name="image_url" id="image_url" class="w-full px-4 py-2 border rounded">
                </div>
                <button type="submit" class="bg-purple-500 text-white px-4 py-2 rounded" style="font-family: 'Raleway', sans-serif;">Submit</button>
            </form>     
        </div>
    </div>
    <footer class="text-center py-4 mt-auto w-full">
        &copy; 2024 YouCanWrite. All rights reserved.
    </footer>
    <script src="{{ url_for('static', filename='js/animation.js') }}"></script>
<script>
        const Font = Quill.import('formats/font');
        const Align = Quill.import('formats/align');
        const Size = Quill.import('formats/size');

        Font.whitelist = ['mirza', 'roboto', 'raleway', 'tajawal', 'noto-kufi-arabic', 'scheherazade'];
        Size.whitelist = ['small', 'normal', 'large', 'huge'];

        Quill.register(Font, true);
        Quill.register(Align, true);
        Quill.register(Size, true);

        const toolbarOptions = [
        [{ 'font': Font.whitelist }],
        [{ 'size': Size.whitelist }],
        ['bold', 'italic', 'underline', 'strike'],
        [{ 'color': [] }, { 'background': [] }],
        [{ 'align': [] },],
        ['clean']
    ];

    // Initialize QuillJS editor
    const quill = new Quill('#content', {
        theme: 'snow',
        modules: {
            syntax: true, 
            toolbar: toolbarOptions,
        }
    });
    quill.on('text-change', function() {
        const content = document.querySelector('input[name="content"]');
        content.value = quill.root.innerHTML;
    });
</script>
</body>
{% endblock %}
</html>
