<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }} - YouCanWrite</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
</head>
<body class="bg-gray-100" style="display: flex; flex-direction: column; min-height: 100vh;">
    <div class="flex flex-col flex-grow">
        <nav class="shadow-lg py-1 px-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="{{ url_for('api.home') }}" class="text-2xl font-bold flex items-center">
                    <img src="{{ url_for('static', filename='images/LOGO.PNG') }}" alt="Logo" class="h-16 w-16">
                    <div class="flex flex-col">
                    <h1 class="text-2xl font-bold">YouCanWrite</h1>
                    <p class="text-sm">FROM SPARK TO MASTERPIECE</p>
                </div>
                </a>
                <div class="menu">
                    <a href="{{ url_for('api.home') }}" class="mx-2">Home</a>
                    <a href="{{ url_for('api.dashboard') }}" class="mx-2">WritingZone</a>
                    <a href="{{ url_for('api.profile') }}" class="mx-2">Profile</a>
                    <a href="{{ url_for('api.logout') }}" class="mx-2">Logout</a>
                </div>
            </div>
        </nav>
    <main class="container mx-auto p-4 flex-grow">
        <div id="postDisplay" class="bg-white p-6 rounded-lg shadow-lg max-w-full">
            <img id="postImg" src="{{ post.image_url if post.image_url else url_for('static', filename='images/post_img.png') }}" alt="{{ post.title }}" class="w-full h-64 object-cover rounded mb-4" style="width: 1440px; height: 480px; object-fit: cover;">
            <h2 class="text-3xl font-bold mb-2">{{ post.title }}</h2>
            <p class="text-left text-gray-600 mb-4">Author: <a href="{{ url_for('api.view_user_profile', username=post.user.username) }}" id="postAuthorName" class="text-blue-500 hover:text-blue-600">{{ post.user.username }}</a></p>
            <p class="text-left text-lg text-gray-700 mb-4">{{ post.content }}</p>
            <div class="flex justify-between items-center mb-4">
                <div class="flex gap-2" data-post-id="{{ post.id }}">
                    <button class="like-btn py-1.5 px-3 hover:text-purple-600 hover:scale-105 hover:shadow text-center border border-gray-300 rounded-md border-gray-400 h-8 text-sm flex items-left gap-1 lg:gap-2">
                        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"></path>
                        </svg>
                        <span class="like-count">{{ post.likes|length }}</span>
                    </button>
                    <p class="text-sm text-gray-800 text-left mb-4 inline">
                        <ul class="liked-users inline">
                            {% for like in post.likes %}
                                <li class="inline">
                                    <a href="{{ url_for('api.view_user_profile', username=like.user.username) }}" class="text-purple-900 hover:text-blue-600">{{ like.user.username }}</a>
                                    {% if not loop.last %}, {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>                     
                {% if current_user.id == post.user.id %}
                <div>
                    <button class="bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-700 mr-2" onclick="toggleEdit(true)">Edit</button>
                    <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700" onclick="deletePost('{{ post.id }}')">Delete</button>
                </div>
                {% endif %}
            </div>
            <h3 class="text-2xl font-bold mb-4">Comments</h3>
            <div id="comments" class="mb-4">
                <ul>
                    {% for comment in post.comments %}
                    <li class="mb-4">
                        <div id="comment-{{ comment.id }}">
                            <div id="commentDisplay-{{ comment.id }}">
                                <p class="text-left text-lg text-gray-800 mb-2">{{ comment.content }}</p>
                                <p class="text-sm text-gray-800 text-left mb-2">Comment by: <a href="{{ url_for('api.view_user_profile', username=comment.user.username) }}" id="commentAuthorName" class="text-purple-900 hover:text-blue-600">{{ comment.user.username }}</a></p>
                                <p class="text-xs text-gray-600 text-left">{{ comment.created_at }}</p>
                                {% if current_user.id == comment.user.id %}
                                <div class="flex items-center mt-2">
                                    <button class="bg-purple-500 text-white py-1 px-3 rounded hover:bg-purple-700 mr-2" onclick="editComment('{{ comment.id }}')">Edit</button>
                                    <button class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-700" onclick="deleteComment('{{ comment.id }}', '{{ post.id }}')">Delete</button>
                                </div>
                                {% endif %}
                            </div>
                            <div id="commentEditForm-{{ comment.id }}" style="display: none;">
                                <textarea id="commentEditInput-{{ comment.id }}" class="w-full p-2 border border-gray-300 rounded-lg" rows="2">{{ comment.content }}</textarea>
                                <button class="bg-purple-500 text-white py-1 px-3 rounded hover:bg-purple-700 mr-2" onclick="updateComment('{{ comment.id }}')">Save</button>
                                <button class="bg-gray-500 text-white py-1 px-3 rounded hover:bg-gray-700" onclick="toggleCommentEdit('{{ comment.id }}', false)">Cancel</button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="bg-gray-200 p-4 rounded-lg mb-4">
                <textarea id="commentInput" class="w-full p-2 border border-gray-300 rounded-lg" rows="3" placeholder="Add a comment..."></textarea>
                <button id="submitComment" class="bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-700 mt-2" onclick="submitComment('{{ post.id }}')">Submit</button>
            </div>
        </div>
        <div id="postEditForm" class="container mx-auto mt-8" style="display: none;">
            <div class="p-4 bg-white rounded shadow">
                <h1 class="text-3xl font-bold mb-4">Edit Post</h1>
                <form action="{{ url_for('api.update_post', post_id=post.id) }}" method="POST">
                    <div class="mb-4">
                        <label for="title" class="block text-gray-700">Title</label>
                        <input type="text" name="title" id="title" value="{{ post.title }}" class="w-full px-4 py-2 border rounded">
                    </div>
                    <div class="mb-4">
                        <label for="content" class="block text-gray-700">Content</label>
                        <textarea name="content" id="content" class="w-full px-4 py-2 border rounded">{{ post.content }}</textarea>
                    </div>
                    <div class="mb-4">
                        <label for="image_url" class="block text-gray-700">Post Image URL</label>
                        <input type="text" name="image_url" id="image_url" value="{{ post.image_url if post.image_url else url_for('static', filename='images/post_img.png') }}" class="w-full px-4 py-2 border rounded" oninput="updatePostImage(this.value)">
                    </div>
                    <div class="flex justify-between">
                        <button type="button" onclick="toggleEdit(false)" class="bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
                        <button type="submit" class="bg-purple-500 text-white px-4 py-2 rounded">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="text-center py-4 mt-auto w-full">
        &copy; 2024 YouCanWrite. All rights reserved.
    </footer>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
</body>
</html>
